@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	min-width: 0;
}

html,
body {
	@include mixins.font-family("Inter");

	background-color: variables.$black;
	font-feature-settings:
		"liga" 1,
		"case" 1,
		"zero" 1,
		"calt" 1;
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizelegibility;
}

article,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
picture,
section,
summary {
	display: block;
}

::selection {
	background-color: variables.$primary-20;
	color: variables.$white;
}

a,
a:visited,
a:active {
	list-style: none;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

main {
	position: relative;
}

img {
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	shape-margin: variables.$space-xs;
	vertical-align: middle;
	width: 100%;
}

.skip-to-content-link {
	@include mixins.transition(all);

	left: 50%;
	position: absolute;
	transform: translate(-50%, -100%);
	z-index: 30;
}

.skip-to-content-link:focus {
	transform: translate(-50%, 10%);
}
