@use "../abstracts/mixins";
@use "../abstracts/variables";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 0;
	vertical-align: baseline;
}

:focus,
:focus-visible {
	outline: 1px solid variables.$secondary-90;
}

:focus:not(:focus-visible) {
	outline: none;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	hanging-punctuation: first allow-end last;
	scrollbar-color: variables.$white-70 transparent;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}


body {
	background-color: variables.$black;
	font-feature-settings:
		"liga" 1,
		"case" 1,
		"zero" 1,
		"calt" 1;
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizelegibility;
	font-family:
		"Inter UI", "Helvetica Neue", Roboto, "Arial Nova", Arial, system-ui,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-kerning: normal;
	position: relative;
	word-break: break-word;

}

article,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
picture,
section,
summary {
	display: block;
}

::selection {
	background-color: variables.$primary-20;
	color: variables.$white;
}

a,
a:visited,
a:active {
	list-style: none;
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

a:hover {
	cursor: pointer;
}

main {
	position: relative;
}

img {
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	vertical-align: middle;
	width: 100%;
}

.skip-to-content-link {
	@include mixins.transition(all);

	left: 50%;
	position: absolute;
	transform: translate(-50%, -100%);
	z-index: 30;
	color: variables.$secondary-90;
}

.skip-to-content-link:focus {
	transform: translate(-50%, variables.$space-s);
}
