@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
	scrollbar-color: variables.$white-70 transparent;
	scrollbar-width: thin;
	height: 100%;
}

body {
	background-color: variables.$black;
	font-family:
		"Inter UI", "Helvetica Neue", Roboto, "Arial Nova", Arial, system-ui,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-feature-settings:
		"liga" 1,
		"case" 1,
		"zero" 1,
		"calt" 1;
	font-kerning: normal;
	font-size: 1rem;
	hanging-punctuation: first allow-end last;
}

::selection {
	background-color: variables.$primary-20;
	color: variables.$white;
}

a,
a:visited,
a:active {
	list-style: none;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

main {
	position: relative;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	vertical-align: middle;
}

/* Skip to main content A11y */
.skip-to-content-link {
	@include mixins.transition(all);

	left: 50%;
	position: absolute;
	transform: translate(-50%, -100%);
	z-index: 30;
	color: variables.$secondary-90;
}

.skip-to-content-link:focus {
	transform: translate(-50%, variables.$space-s);
}
