@use "../abstracts/mixins";
@use "../abstracts/variables";

// Root elements
html {
	@supports (scrollbar-color: feature-exists) {
		scrollbar-color: variables.$color-white-70 transparent;
	}

	@supports (scrollbar-width: feature-exists) {
		scrollbar-width: thin;
	}

	height: 100%;
}

body {
	background-color: variables.$color-black;
	font-family:
		"Inter UI", "Helvetica Neue", Roboto, "Arial Nova", Arial, system-ui,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-feature-settings:
		"liga" 1,
		"case" 1,
		"zero" 1,
		"calt" 1;
	font-kerning: normal;
	font-size: 1rem;
	line-height: 1.6;
	min-height: 100%;

	@supports (hanging-punctuation: feature-exists) {
		hanging-punctuation: first allow-end last;
	}
}

// Selection
@supports selector(::selection) {
	::selection {
		background-color: variables.$color-primary-20;
		color: variables.$color-white;
	}
}

// Link
a,
a:visited,
a:active {
	text-decoration: none;
}

// Media elements
img {
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

// Main wrapper
.wrapper {
	position: relative;
}

main {
	scroll-padding-block-start: variables.$space-xl;
	overflow: auto;
}

// Skip to main content A11y
.skip-to-content-link {
	inset-inline: 0;
	margin-inline: auto;
	position: absolute;
	transform: translateY(-150%);
	z-index: 100;

	&:focus-visible {
		transform: translateY(20%);
	}
}
