@use "../abstracts/mixins";
@use "../abstracts/variables";

/* consistent box sizing  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;

	/* Reserve space for scrollbar and prevents unwanted layout movement
	https://www.zachleat.com/web/stable-scrollbar-gutters/ */
	scrollbar-gutter: stable;

	/* Prevent font size inflation
	https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
	text-size-adjust: none;
}

body {
	min-height: 100vh;
	margin: 0;

	/* Base accessible line-height */
	line-height: 1.5;

	/* Prevents unwanted horizontal overflow */
	overflow-x: hidden;

	/* Improve word breaking */
	overflow-wrap: break-word;
}

/* Non aggressive controlled margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Improvements for text and headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

/* Accessible lists */
ul[role="list"],
ol[role="list"] {
	list-style: none;
	padding: 0;
}

/* Link styling */
a {
	color: inherit;
	text-decoration-skip-ink: auto;
}

a:not([class]) {
	text-decoration-thickness: 0.08em;
	text-underline-offset: 0.15em;
}

/* Visible focus  (WCAG 2.4.7) */
:focus-visible {
	outline: 2px solid currentcolor;
	outline-offset: 2px;
}

:focus:not(:focus-visible) {
	outline: none;
}

/* Media */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Forms */
input,
button,
textarea,
select {
	font: inherit;
	line-height: inherit;
}

textarea:not([rows]) {
	min-height: 8em;
}

/* Anchor and navigation */
:target {
	scroll-margin-block: 5ex;
}

/* Motion options from User preferences */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@supports (font-size-adjust: from-font) {
	body {
		font-size-adjust: from-font;
	}
}
