@font-face {
	font-display: swap;
	font-family: 'Inter UI';
	font-style: normal;
	font-weight: 100 900;
	src: url('/assets/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter UI';
	font-style: italic;
	font-weight: 100 900;
	src: url('/assets/fonts/InterVariable-Italic.woff2') format('woff2');
}
