@use "../abstracts/mixins";
@use "../abstracts/variables";

.projetos {
	@include mixins.layout-grid(site);

	display: grid;
	gap: variables.$grid-gutter;
	grid-template-columns: repeat(
		auto-fit,
		minmax(clamp(12rem, calc(50% - #{variables.$grid-gutter}), 32rem), 1fr)
	);
}
