@use "../abstracts/mixins";
@use "../abstracts/variables";

.projetos {
	@include mixins.layout-grid(site);

	display: grid;
	gap: variables.$space-l;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

	@include mixins.viewport(xsmall, landscape) {
		grid-template-columns: auto auto;
	}

	@include mixins.viewport(small) {
		grid-template-columns: auto;
	}

	@include mixins.viewport(large) {
		grid-template-columns: auto auto;
	}

	hr {
		height: 1px;
		background-color: variables.$black-10;
		border: none;
		grid-column: -1/1;
	}
}
