@use "../abstracts/mixins";
@use "../abstracts/variables";

.projetos {
	@include mixins.layout-grid(site);

	display: grid;
	gap: variables.$space-l;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	@include mixins.viewport(xsmall) {
		grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	}

	@include mixins.viewport(large) {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}

	@include mixins.viewport(xlarge) {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	@include mixins.viewport(3xlarge) {
		grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	}

	hr {
		height: 1px;
		background-color: variables.$black-10;
		border: none;
		grid-column: -1/1;
	}
}
