@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero--not-found {
	text-align: center;

	.hero__content {
		align-items: center;
	}

	a[role="button"] {
		margin-top: variables.$space-m;
	}
}
