@use "../abstracts/variables";
@use "../abstracts/mixins";

.page {
	@include mixins.layout-grid(site);

	min-height: 88svh;
	padding-block-start: variables.$space-3xl;

	&__title {
		@include mixins.typescale(scale-6, medium, headline);

		color: variables.$white;
	}

	&__content {
		@include mixins.flow;

		display: grid;
		grid-template-columns:
			[full-width] minmax(variables.$grid-gutter, 1fr)
			[popout-start] minmax(0, variables.$space-xl)
			[content-start] minmax(0, 72ch)
			[content-end] minmax(0, variables.$space-xl)
			[popout-end] minmax(variables.$grid-gutter, 1fr)
			[full-width-end];

		> *,
		> .content {
			grid-column: full-width / full-width-end;

			@include mixins.viewport(small) {
				grid-column: content-start / content-end;
			}
		}

		> .popout {
			grid-column: full-width / full-width-end;

			@include mixins.viewport(small) {
				grid-column: popout / popout-end;
			}
		}

		> .full-width {
			grid-column: full-width / full-width-end;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: variables.$white;

			--flow-space: #{variables.$space-2xl};
		}

		h1 {
			@include mixins.typescale(scale-6, medium, headline);
		}

		h2 {
			@include mixins.typescale(scale-3, medium, headline);
		}

		h3 {
			@include mixins.typescale(scale-2, medium, headline);
		}

		h4 {
			@include mixins.typescale(scale-1, medium, headline);
		}

		h5 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h6 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		p,
		li {
			@include mixins.typescale(scale-0, normal, text);

			color: variables.$white-90;
		}

		ul,
		ol {
			margin-block-end: 0;
			padding-inline-start: 0;
			list-style-position: inside;
		}

		li:not(:last-child) {
			margin-bottom: variables.$space-2xs;
		}
	}

	a {
		color: variables.$secondary-90;
		text-decoration: underline;
	}

	hr {
		border: none;
		background-color: variables.$black-10;
		height: 1px;
		margin-block-start: variables.$space-xl;
	}

	strong {
		font-weight: 700;
	}
}
