@use "../abstracts/variables";
@use "../abstracts/mixins";

.page {
	@include mixins.layout-grid(site);

	min-height: clamp(50vh, 72svh, 100vh);
	padding-block-start: variables.$space-3xl;

	&__title {
		@include mixins.typescale(scale-6, medium, headline);

		color: variables.$color-white;
	}

	&__content {
		@include mixins.flow;
		@include mixins.content-grid;

		h1 {
			@include mixins.typescale(scale-6, medium, headline);
		}

		h2 {
			@include mixins.typescale(scale-3, medium, headline);
		}

		h3 {
			@include mixins.typescale(scale-2, medium, headline);
		}

		h4 {
			@include mixins.typescale(scale-1, medium, headline);
		}

		h5 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h6 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h1 + * {
			--flow-space: #{variables.$space-2xl};
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: variables.$color-white;

			--flow-space: #{variables.$space-2xl};
		}

		p,
		li {
			@include mixins.typescale(scale-0, normal, text);

			color: variables.$color-white-90;
		}

		ul,
		ol {
			margin-block-end: 0;
			padding-inline-start: 0;
			list-style-position: inside;
		}

		li:not(:last-child) {
			margin-bottom: variables.$space-2xs;
		}
	}

	a {
		color: variables.$color-secondary-90;
		text-decoration: underline;

		&:focus-visible {
			outline: 2px solid variables.$color-secondary-90;
			outline-offset: 2px;
		}
	}

	hr {
		border: none;
		background-color: variables.$color-black-10;
		height: 1px;
		margin-block-start: variables.$space-xl;
		width: 100%;
	}

	strong {
		font-weight: 700;
	}
}
