.post {
  @include grid;
  @include grid-base;

  background: $black;
  padding-top: $base-size * 3.5;

  &__header {
    @include grid;
    @include grid-base;

    grid-column: 1/-1;
    min-height: 55vh;

    &--container {
      @include grid;
      @include grid-base;

      grid-column: 2;
      padding-top: $base-size * 3;
      padding-bottom: $base-size * 2;

      @include viewport(xs-small) {
        padding-top: $base-size * 6;
      }
    }

    &--title {
      @include typescale(scale-2, bold, headline);

      color: $white;
      grid-column: 1/-1;
      margin-bottom: $base-size * 0.5;

      @include viewport(xs-small) {
        @include typescale(scale-3, bold, headline);
      }

      @include viewport(xs-large) {
        @include typescale(scale-4, bold, headline);
      }

      @include viewport(sm-small) {
        grid-column: 2;
      }
    }

    &--description {
      @include typescale(scale-1, normal, text);

      // color: $black-30;

      grid-column: 1/-1;

      @include viewport(xs-small) {
        @include typescale(scale-2, normal, text);
      }

      @include viewport(sm-small) {
        grid-column: 2;
      }
    }
  }

  &__hero {
    @include grid;
    @include grid-base;

    grid-column: 1/-1;

    &--container {
      @include grid;
      @include grid-post;

      border-bottom: 2px solid $black-30;
      grid-column: 2;
    }
  }

  &__info {
    @include grid;

    gap: $base-size * 1.5;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    margin: $base-size * 2 0;

    @include viewport(sm-small) {
      grid-column: 2;
    }
  }

  &__info--title {
    @include typescale(scale-1, bold, text);

    color: $white;
    margin-bottom: $base-size * 0.25;
  }

  &__info--list {
    margin-bottom: $base-size * 1.5;
    margin-left: $base-size;
  }

  &__info--text {
    @include typescale(scale-1, normal, text);

    color: $black-30;
  }

  &__splash {
    @include grid;
    @include grid-base;

    display: grid;
    grid-column: 1/-1;

    @include viewport(sm-small) {
      grid-column: 1/-1;
    }

    &--container {
      @include grid;
      @include grid-base;

      grid-column: 1/-1;
    }

    &--picture {
      @include center-horizontal;
      @include aspect-ratio(1920, 960);

      grid-column: 2;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &--image {
      color: $white;
      grid-column: 1/-1;
      height: auto;
      max-width: none;
      position: absolute;
      top: 0;
      width: 100%;

      @include viewport(sm-small) {
        grid-column: 2;
      }
    }
  }

  &__content {
    @include grid;
    @include grid-base;

    grid-column: 1/-1;

    &--container {
      @include grid;
      @include grid-post;

      grid-column: 2;
      row-gap: $base-size * 0.5;
    }

    @include viewport(sm-small) {
      &--container > * {
        grid-column: 2;
      }
    }

    .headline-link {
      color: $white;
      text-decoration: underline;
    }

    h2,
    h3,
    h4 {
      @include typescale(scale-2, bold, headline);

      color: $white;
      margin-top: $base-size * 3;

      @include viewport(xs-small) {
        @include typescale(scale-3, bold, headline);
      }
    }

    p {
      @include typescale(scale-1, normal, text);

      color: $black-30;

      @include viewport(md-medium) {
        @include typescale(scale-2, normal, text);
      }
    }

    ul,
    ol {
      @include typescale(scale-1, normal, text);

      margin-left: $base-size;
    }

    li > ul {
      margin: ($base-size * 0.5);
    }

    li {
      @include typescale(scale-1, normal, text);

      color: $black-30;
    }

    li:not(:last-child) {
      margin-bottom: $base-size * 0.5;
    }
  }

  blockquote {
    border-left: 2px solid $primary;
    color: $white;
    padding-left: $base-size;
    margin: $base-size * 2 0;

    p {
      @include typescale(scale-1, normal, text);

      color: $white;
      margin: 0;
    }

    h5 {
      @include typescale(scale-2, bold, headline);

      color: $white;
      margin-top: $base-size;
    }
  }

  &__photo {
    @include center-horizontal;

    grid-column: 1/-1;
    margin-top: $base-size * 3;
    max-width: 1280px;
    overflow: hidden;
    width: 100%;
  }

  &__photo > img {
    height: auto;
  }

  span {
    grid-column: 1/-1;
  }

  &__photo--lazy {
    @include aspect-ratio(1920, 1080);

    grid-column: 1/-1;
    position: relative;
    overflow: hidden;
    width: 100%;

    // @include viewport(sm-medium) {
    //   margin: $base-size * 1.5 0;
    // }
  }

  &__photo--image--lazy {
    color: $white;
    height: auto;
    max-width: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__photo + &__photo {
    margin-top: 0;
  }

  &__photo--lazy + &__photo--lazy {
    margin-top: 0;
  }

  & noscript + p {
    margin-top: $base-size;
  }
}
