@use "../abstracts/variables";
@use "../abstracts/mixins";

.post {
	@include mixins.layout-grid(site);

	padding-block-start: variables.$space-3xl;

	&__header {
		min-height: 55svh;

		img {
			color: variables.$white;
		}
	}

	&__title {
		@include mixins.typescale(scale-6, medium, headline);

		color: variables.$white;
		margin-block-end: variables.$space-xl;
	}

	&__info {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, auto));
		margin-block-end: variables.$space-xl;
		gap: variables.$space-xs;

		@include mixins.viewport(small) {
			gap: variables.$space-xl;
		}

		&__title {
			@include mixins.typescale(scale--1, medium, text);

			border-top: 1px solid variables.$black-10;
			color: variables.$white;
			padding-block-start: variables.$space-s;
		}

		&__text {
			@include mixins.typescale(scale-0, normal, text);

			margin-block-start: variables.$space-3xs;
			color: variables.$white-90;
		}
	}

	&__content {
		@include mixins.flow;

		display: grid;
		grid-template-columns:
			[full-width] minmax(variables.$grid-gutter, 1fr)
			[popout-start] minmax(0, variables.$space-xl)
			[content-start] minmax(0, 72ch)
			[content-end] minmax(0, variables.$space-xl)
			[popout-end] minmax(variables.$grid-gutter, 1fr)
			[full-width-end];
		margin-block-start: variables.$space-xl;

		> *,
		> .content {
			grid-column: full-width / full-width-end;

			@include mixins.viewport(small) {
				grid-column: content-start / content-end;
			}
		}

		> .popout {
			grid-column: full-width / full-width-end;

			@include mixins.viewport(small) {
				grid-column: popout / popout-end;
			}
		}

		> .full-width {
			grid-column: full-width / full-width-end;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: variables.$white;

			--flow-space: #{variables.$space-2xl};
		}

		h2 {
			@include mixins.typescale(scale-2, medium, headline);
		}

		h3 {
			@include mixins.typescale(scale-1, medium, headline);
		}

		h4 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h5 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h6 {
			@include mixins.typescale(scale--1, medium, headline);
		}

		p,
		li {
			@include mixins.typescale(scale-0, normal, text);

			color: variables.$white-90;
		}

		ul,
		ol {
			margin-block-end: 0;
			padding-inline-start: 0;
			list-style-position: inside;
		}

		li:not(:last-child) {
			margin-bottom: variables.$space-2xs;
		}

		img,
		video {
			width: 100%;
			text-align: center;
			text-wrap: balance;
		}

		video {
			max-height: 80dvh;
		}

		picture,
		video {
			--flow-space: #{variables.$space-l};
		}

		blockquote {
			border-left: 2px solid variables.$primary;
			padding-inline-start: variables.$space-m;
			margin-block: variables.$space-m auto;

			p {
				@include mixins.typescale(scale-1, bold, text);

				color: variables.$white;
				margin: 0;
			}

			cite {
				@include mixins.typescale(scale-0, normal, text);

				font-style: italic;
				color: variables.$white-90;
				margin-block-start: variables.$space-xs;
			}
		}
	}

	a {
		color: variables.$secondary-90;
		text-decoration: underline;
	}

	picture,
	figure {
		--flow-space: #{variables.$space-xl};
	}

	img {
		color: variables.$white-90;
	}

	hr {
		border: none;
		background-color: variables.$black-10;
		height: 1px;
		margin-block-start: variables.$space-xl;
	}

	strong {
		font-weight: 700;
	}
}
