@use "../abstracts/variables";
@use "../abstracts/mixins";

.post {
	display: grid;
	padding-top: variables.$space-3xl;

	&__header {
		min-height: 55vh;
		padding-top: variables.$space-xl;

		&--container {
			margin-bottom: variables.$space-xl;
		}

		&--title {
			@include mixins.typescale(scale-6, medium, headline);

			color: variables.$white;
			margin: 0;
			width: min(100%, 720px);
			text-wrap: balance;
		}

		&--description {
			@include mixins.typescale(scale-0, normal, text);

			color: variables.$white-90;
			width: min(100%, 720px);
		}
	}

	&__hero {
		display: grid;

		&--container {
			border-bottom: 2px solid variables.$black-30;
			display: grid;
		}
	}

	&__info {
		display: grid;
		gap: variables.$space-xl;
		grid-template-columns: repeat(auto-fit, minmax(160px, auto));
		margin-bottom: variables.$space-xl;
	}

	&__info--title {
		@include mixins.typescale(scale--2, medium, text);

		border-top: solid variables.$black-10 1px;
		color: variables.$white;
		padding-top: variables.$space-s;
		text-transform: uppercase;
	}

	&__info--text {
		@include mixins.typescale(scale--1, normal, text);
		@include mixins.font-family("iA Writer");

		color: variables.$white-90;
	}

	&__splash {
		&--picture {
			overflow: hidden;
			width: 100%;
		}

		&--image {
			color: variables.$white;
			height: auto;
			max-width: none;
			width: 100%;
		}
	}

	hr {
		border: none;
		background-color: variables.$black-10;
		height: 1px;
		margin-top: variables.$space-xl;
	}

	&__content {
		&--container {
			display: grid;
		}

		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		ul,
		ol,
		li {
			margin: auto;
			width: min(100%, 720px);
		}

		.headline-link {
			color: variables.$white;
			text-decoration: underline;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: variables.$white;
			margin-bottom: variables.$space-s;
			text-wrap: balance;
		}

		h2 {
			@include mixins.typescale(scale-4, medium, headline);

			margin-top: variables.$space-3xl;
		}

		h3 {
			@include mixins.typescale(scale-2, medium, headline);

			margin-top: variables.$space-2xl;
		}

		h4 {
			@include mixins.typescale(scale-1, medium, headline);

			margin-top: variables.$space-xl;
		}

		h5 {
			@include mixins.typescale(scale-0, medium, headline);

			margin-top: variables.$space-l;
		}

		h6 {
			@include mixins.typescale(scale-0, medium, headline);

			margin-top: variables.$space-l;
		}

		h2+h3,
		h3+h4,
		h4+h5,
		h5+h6 {
			margin-top: 0;
		}

		p {
			@include mixins.typescale(scale-0, normal, text);
			@include mixins.font-family("iA Writer");

			color: variables.$white-90;
		}

		p+p {
			margin-top: variables.$space-s;
		}

		img,
		video {
			margin: 0 auto;
			max-width: variables.$page-width;
			overflow: hidden;
			width: 100%;
			color: variables.$white-90;
			height: auto;
			text-align: center;
		}

		video {
			max-height: 80dvh;

		}

		p+picture,
		p+video,
		picture+p,
		picture+picture,
		video+video,
		picture+video,
		video+picture {
			margin-top: variables.$space-xl;
		}

		ul,
		ol {
			@include mixins.typescale(scale-0, normal, text);

			padding-left: variables.$space-s;
		}

		p+ul,
		p+ol {
			margin-top: variables.$space-xs;
		}

		ul+p,
		ol+p {
			margin-top: variables.$space-xs;
		}

		li {
			@include mixins.typescale(scale-0, normal, text);
			@include mixins.font-family("iA Writer");

			color: variables.$white-90;
		}

		li:not(:last-child) {
			margin-bottom: variables.$space-2xs;
		}
	}

	blockquote {
		border-left: 2px solid variables.$primary;
		padding-left: variables.$space-m;
		margin: variables.$space-m auto;

		p {
			@include mixins.typescale(scale-1, bold, text);

			color: variables.$white;
			margin: 0;
		}

		cite {
			@include mixins.typescale(scale-0, normal, text);
			@include mixins.font-family("iA Writer");

			font-style: italic;
			color: variables.$white-90;
			margin-top: variables.$space-xs;
		}
	}
}
