@use "../abstracts/variables";
@use "../abstracts/mixins";

.post {
	@include mixins.layout-grid(site);

	padding-block-start: variables.$space-3xl;

	&__header {
		min-height: clamp(50vh, 72svh, 100vh);

		img {
			color: variables.$color-white;
		}
	}

	&__title {
		@include mixins.typescale(scale-6, medium, headline);

		color: variables.$color-white;
		margin-block-end: variables.$space-xl;
	}

	&__info {
		display: grid;
		gap: variables.$grid-gutter;
		grid-template-columns: repeat(
			auto-fit,
			minmax(clamp(10rem, 30%, 16rem), 1fr)
		);
		margin-block-end: variables.$space-xl;

		&__title {
			@include mixins.typescale(scale--1, medium, text);

			border-top: 1px solid variables.$color-black-10;
			color: variables.$color-white;
			padding-block-start: variables.$space-s;
		}

		&__text {
			@include mixins.typescale(scale-0, normal, text);

			margin-block-start: variables.$space-3xs;
			color: variables.$color-white-90;
		}
	}

	&__content {
		@include mixins.flow;
		@include mixins.content-grid;

		margin-block-start: #{variables.$space-xl};

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: variables.$color-white;

			--flow-space: #{variables.$space-2xl};
		}

		h2 {
			@include mixins.typescale(scale-2, medium, headline);
		}

		h3 {
			@include mixins.typescale(scale-1, medium, headline);
		}

		h4 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h5 {
			@include mixins.typescale(scale-0, medium, headline);
		}

		h6 {
			@include mixins.typescale(scale--1, medium, headline);
		}

		p,
		li {
			@include mixins.typescale(scale-0, normal, text);

			color: variables.$color-white-90;
		}

		ul,
		ol {
			margin-block-end: 0;
			padding-inline-start: variables.$space-s;
		}

		li:not(:last-child) {
			margin-bottom: variables.$space-2xs;
		}

		img,
		video {
			width: 100%;
			text-align: center;
			text-wrap: balance;
		}

		video {
			max-height: 80dvh;
		}

		picture,
		video {
			--flow-space: #{variables.$space-l};
		}

		blockquote {
			border-left: 2px solid variables.$color-primary;
			padding-inline-start: variables.$space-m;

			--flow-space: #{variables.$space-xl};

			p {
				@include mixins.typescale(scale-1, bold, text);

				color: variables.$color-white;
				margin: 0;
			}

			cite {
				@include mixins.typescale(scale-0, normal, text);

				font-style: italic;
				color: variables.$color-white-90;
				margin-block-start: variables.$space-xs;
			}
		}
	}

	a {
		color: variables.$color-secondary-90;
		text-decoration: underline;

		&:focus-visible {
			outline: 2px solid variables.$color-secondary-90;
			outline-offset: 2px;
		}
	}

	picture,
	figure {
		--flow-space: #{variables.$space-xl};
	}

	img {
		color: variables.$color-white-90;
	}

	hr {
		border: none;
		background-color: variables.$color-black-10;
		height: 1px;
		margin-block-start: variables.$space-xl;
	}

	strong {
		font-weight: 700;
	}
}
