@use "../abstracts/variables";

.hero {
	.bg {
		background: linear-gradient(to right, variables.$black-10 1px, transparent 1px),
			linear-gradient(to bottom, variables.$black-10 1px, transparent 1px);
		background-size: 1.5em 1.5em;
		grid-column: 1/-1;
		inset: 0;
		position: absolute;
		mask-image: linear-gradient(180deg,
				rgba(variables.$black, 0%) 0%,
				rgba(variables.$black, 50%) 50%,
				rgba(variables.$white, 0%) 100%);
	}
}
