@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
	&--primary {
		@include mixins.btn-base;

		color: variables.$color-secondary-90;
		border: 1px solid variables.$color-secondary-90;

		@supports (backdrop-filter: blur(1px)) {
			@include mixins.backdrop-bg(variables.$color-secondary-90, 0.2);
		}

		@include mixins.btn-state(
			variables.$color-black,
			variables.$color-secondary-90,
			variables.$color-secondary-90
		);
		@include mixins.btn-a11y(variables.$color-secondary-90);
	}

	&--secondary {
		@include mixins.btn-base;

		color: variables.$color-white;
		background-color: variables.$color-white-70;
		border: 1px solid variables.$color-white-70;

		@supports (backdrop-filter: blur(1px)) {
			@include mixins.backdrop-bg(variables.$color-white, 0.2);
		}

		@include mixins.btn-state(
			variables.$color-black,
			variables.$color-white,
			variables.$color-white
		);
		@include mixins.btn-a11y(variables.$color-white);
	}
}
