.btn {
  @include typescale(scale-1, bold, text);
  @include font-position(center);
  @include transition(background, 0.4s, $animation-standard);

  background-position: center;
  border-radius: $base-size * 1.5;
  min-width: 120px;
  padding: $base-size * 0.875 $base-size;
  position: relative;
  text-transform: uppercase;

  &::after {
    @include absolute;

    opacity: 0;
  }

  &__primary {
    color: $white;
    background-color: $black-20;
    border: solid 1px $black-20;

    &:hover,
    &:focus {
      color: $black;
      background:
        $secondary
        radial-gradient(circle, transparent 1%, $secondary 1%) center /
        150000%;
    }

    &:active {
      background-color: $white;
      background-size: 100%;
      transition: background 0s;
    }
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}
