@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
	@include mixins.typescale(scale-0, medium, headline);
	@include mixins.font-position(center);

	min-width: 120px;
	padding: variables.$space-xs variables.$space-m;

	&__primary {
		color: variables.$white;
		background-color: variables.$secondary-90;
		border: 1px solid variables.$secondary-90;

		@supports (backdrop-filter: none) {
			background-color: rgba(variables.$secondary-90, 0.2);
			backdrop-filter: saturate(180%) blur(variables.$base-size * 0.25);
		}

		&:hover,
		&:focus,
		&:active {
			color: variables.$black;
			background-color: variables.$secondary-90;
		}
	}

	&__secondary {
		color: variables.$white;
		background-color: variables.$white;
		border: 1px solid variables.$white-70;

		@supports (backdrop-filter: none) {
			background-color: rgba(variables.$white, 0.2);
			backdrop-filter: saturate(180%) blur(variables.$base-size * 0.25);
		}

		&:hover,
		&:focus,
		&:active {
			color: variables.$black;
			background-color: variables.$white;
			border: 1px solid variables.$white;

		}
	}
}
