@use "../abstracts/mixins";
@use "../abstracts/variables";

.card {
	@include mixins.transition(background-color);
	@include mixins.transition(border-color);

	background-color: variables.$color-black;
	border: 1px solid variables.$color-black-10;
	display: flex;
	flex-direction: column;
	max-inline-size: 100%;
	position: relative;
	isolation: isolate;

	picture {
		padding-inline: variables.$space-m;
		padding-block-start: variables.$space-m;
		width: 100%;

		img {
			color: variables.$color-white;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
		padding: variables.$space-m;
	}

	&__title {
		@include mixins.typescale(scale-2, medium, headline);

		color: variables.$color-white;
		margin-block-end: variables.$space-m;
	}

	&__tag {
		@include mixins.typescale(scale--1, normal, text);

		color: variables.$color-white-90;
		text-transform: uppercase;
	}

	&:hover,
	&:focus-visible {
		background-color: variables.$color-black-10;
		border-color: variables.$color-black-20;
	}
}
