@use "../abstracts/mixins";
@use "../abstracts/variables";

.card {
	@include mixins.transition(all);

	background-color: variables.$black;
	border: 1px solid variables.$black-10;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	position: relative;

	picture {
		padding: variables.$space-m;
		padding-bottom: 0;
		overflow: hidden;
		width: 100%;

		img {
			color: variables.$white;
			width: 100%;
			height: 100%;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
		padding: variables.$space-m;
		position: relative;
		width: 100%;
	}

	&__title {
		@include mixins.typescale(scale-2, medium, headline);

		color: variables.$white;
		margin-bottom: variables.$space-m;
	}

	&__tag {
		@include mixins.typescale(scale--1, normal, text);

		color: variables.$white-90;
		text-transform: uppercase;
	}

	&:hover,
	&:focus {
		background-color: variables.$black-10;
		border-color: variables.$black-20;

	}
}
