.hero {
  .bg {
    background: linear-gradient(to right, $black-10 1px, transparent 1px),
      linear-gradient(to bottom, $black-10 1px, transparent 1px);
    background-size: $base-size $base-size;
    grid-column: 1/-1;
    inset: 0;
    position: absolute;
    mask-image: linear-gradient(
      180deg,
      rgba($black, 0%) 0%,
      rgba($black, 60%) 50%,
      rgba($white, 0%) 100%
    );
  }
}
