@use "../abstracts/variables";
@use "../abstracts/mixins";

.postnav {
	display: grid;
	padding-block: variables.$space-3xl;

	&__content {
		@include mixins.layout-grid(site);

		@include mixins.viewport(large) {
			text-align: center;
		}

		width: 100%;
	}

	&__link {
		@include mixins.typescale(scale-1, normal, headline);

		color: variables.$color-secondary-90;
	}

	&__title {
		@include mixins.typescale(scale-5, medium, headline);

		color: variables.$color-white;
		text-decoration: underline;
	}
}
