.contato {
  @include grid;
  @include grid-base;

  align-items: center;
  min-height: 50vh;
  overflow: hidden;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;

  @include viewport(xs-small) {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
  }

  @include viewport(md-medium) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  &__gradient{
    background: linear-gradient(45deg, #F4252B 0%, #F4C947 100%);
    bottom: -50%;
    content: "";
    filter: 16px;
    left: -25%;
    mask-image: radial-gradient(50% 50.00% at 50% 50.00%, rgba(0 0 0 / 40%) 0%, rgba(255 255 255 / 0%) 100%);
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 150%;
  }

  &__info {
    grid-column: 1/-1;

    @include viewport(xs-large) {
      grid-column: span 4;
    }

    @include viewport(sm-small) {
      @include font-position(center);

      grid-column: 2/-2;
    }

    @include viewport(md-small) {
      grid-column: 3/-3;
    }
  }

  &__call {
    @include flex;
    @include flex-column;

    justify-content: center;

    &--cta {
      @include typescale(scale-3, bold, headline);

      color: $white;
      margin-bottom: $base-size * 0.5;

      @include viewport(xs-small) {
        @include typescale(scale-4, bold, headline);
      }

      @include viewport(sm-small) {
        @include typescale(scale-5, bold, headline);
      }
    }

    &--subtitle {
      @include typescale(scale-1, normal, text);

      color: $black-30;
      margin-bottom: $base-size * 2;
      max-width: 680px;

      @include viewport(xs-small) {
        @include typescale(scale-2, normal, text);
      }
    }

    &--email {
      @include typescale(scale-1, bold, text);

      color: $secondary;
      word-break: break-all;

      @include viewport(xs-small) {
        @include typescale(scale-2, bold, text);
      }
    }
  }
}
