@use "../abstracts/mixins";
@use "../abstracts/variables";

.contato {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	min-height: clamp(50svh, 64vh, 80svh);

	&__gradient {
		position: absolute;
		inset-block: 50% -50%;
		inset-inline-start: -10%;
		inline-size: 120%;
		pointer-events: none;
		background: linear-gradient(
			in oklab 45deg,
			variables.$color-primary 0%,
			variables.$color-secondary 100%
		);
		mask-image: radial-gradient(
			ellipse closest-side,
			rgb(0 0 0 / 40%) 0%,
			rgb(255 255 255 / 0%) 100%
		);
	}

	&__content {
		@include mixins.layout-grid(site);
		@include mixins.flow;

		@include mixins.viewport(small) {
			text-align: center;
		}
	}

	&__cta {
		@include mixins.typescale(scale-6, medium, headline);

		color: variables.$color-white;
	}

	&__subtitle {
		@include mixins.typescale(scale-1, normal, text);

		color: variables.$color-white-90;
		max-inline-size: 64ch;
		margin-inline: auto;
		text-wrap: balance;
	}

	&__email {
		@include mixins.typescale(scale-1, normal, text);

		color: variables.$color-secondary-90;
		text-decoration: underline;
		overflow-wrap: break-word;

		&:focus-visible {
			outline: 2px solid variables.$color-secondary-90;
			outline-offset: 2px;
		}
	}

	/* Explicit utility to hide decorative-only text */
	&__hidden {
		display: none;
	}
}
