@use "../abstracts/mixins";
@use "../abstracts/variables";

.contato {
	display: flex;
	align-items: center;
	overflow: hidden;
	min-height: 64svh;
	padding: variables.$space-3xl 0;
	position: relative;

	&__gradient {
		background: linear-gradient(in oklab 45deg,
				variables.$primary 0%,
				variables.$secondary 100%);
		bottom: -50%;
		left: -10%;
		mask-image: radial-gradient(ellipse closest-side, rgba(0 0 0 / 40%) 0%,
				rgba(255 255 255 / 0%) 100%);
		pointer-events: none;
		position: absolute;
		top: 50%;
		width: 120%;
	}

	&__content {
		@include mixins.layout-grid(site);

		align-content: center;

		@include mixins.viewport(small) {
			text-align: center;
		}
	}

	&__cta {
		@include mixins.typescale(scale-6, medium, headline);

		color: variables.$white;
		margin-bottom: variables.$space-3xs;
	}

	&__subtitle {
		@include mixins.typescale(scale-1, normal, text);

		color: variables.$white-90;
		max-width: variables.$base-size * 40;
		text-wrap: balance;
		margin-bottom: variables.$space-s;
	}

	&__email {
		@include mixins.typescale(scale-1, normal, text);

		color: variables.$secondary-90;
		text-decoration: underline;
		word-wrap: break-word;
	}

	b {
		display: none;
	}
}
