@use "../abstracts/mixins";
@use "../abstracts/variables";

.footer {
	background: variables.$color-black;
	position: relative;
	isolation: isolate;

	&__gradient {
		background: linear-gradient(
			in oklab 90deg,
			variables.$color-primary 0%,
			variables.$color-secondary 100%
		);
		block-size: 1px;
		inline-size: 100%;
	}

	&__container {
		@include mixins.layout-grid(site);
	}

	&__content {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		padding-block: variables.$space-l;
	}

	&__copyright {
		@include mixins.typescale(scale--1, normal, text);

		color: variables.$color-white-90;
		margin-block: variables.$base-size;

		p {
			margin-block: 0;
		}
	}

	&__spacer {
		flex-grow: 1;
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
		gap: variables.$space-m;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-block: variables.$space-2xs;
		}

		a {
			@include mixins.typescale(scale-0, medium, text);
			@include mixins.transition(color);

			color: variables.$color-white-90;
			padding-block: variables.$space-2xs;

			@include mixins.viewport(small) {
				@include mixins.typescale(scale--1, medium, text);
			}

			&:hover,
			&:active {
				color: variables.$color-white;
				text-decoration: underline;
			}

			&:focus-visible {
				outline: 2px solid variables.$color-white;
				outline-offset: 2px;
			}
		}
	}
}
