@use "../abstracts/mixins";
@use "../abstracts/variables";

.footer {
	align-items: center;
	display: grid;
	background: variables.$black;
	position: relative;

	&__gradient {
		background: linear-gradient(90deg, variables.$primary 0%, variables.$secondary 100%);
		height: 1px;
		grid-column: 1/-1;
	}

	&__container {
		width: 100%;
	}

	&__content {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		padding: (variables.$base-size * 2) 0;

		&--copyright {
			@include mixins.typescale(scale--1, normal, text);

			color: variables.$white-90;
			margin: (variables.$base-size) 0;
			place-self: center;
		}

		&--spacer {
			flex-grow: 1;
		}
	}

	&__content--social {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;

		li {
			margin: variables.$space-2xs 0;
		}

		>li:not(:last-child) {
			margin-right: variables.$space-m;
		}

		a {
			color: variables.$white-90;
			padding: variables.$space-2xs 0;

			@include mixins.typescale(scale-0, medium, text);
			@include mixins.transition(color);

			@include mixins.viewport(small) {
				@include mixins.typescale(scale--1, medium, text);
			}
		}

		a:hover,
		a:focus {
			color: variables.$white;
		}
	}
}
