@use "../abstracts/variables";

.layout__grid {
	&-site {
		max-width: variables.$grid-width-site;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	}

	&-blog {
		max-width: variables.$grid-width-post;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	}
}
