@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
	background-color: variables.$black;
	border-bottom: 1px solid variables.$black-10;
	display: grid;
	position: fixed;
	width: 100vw;
	z-index: 4;

	@supports (backdrop-filter: none) {
		background-color: rgba(variables.$black, 0.8);
		backdrop-filter: saturate(180%) blur(variables.$base-size * 0.25);
	}

	&__content {
		@include mixins.layout-grid(site);

		align-items: center;
		display: flex;
		width: 100%;

		&-logo {
			color: variables.$white;
		}

		&-logo > svg {
			display: inherit;
			fill: currentcolor;
			height: 18px;
			margin: variables.$base-size 0;
			width: auto;

			@include mixins.viewport(3xlarge) {
				height: 24px;
			}
		}

		&-spacer {
			flex-grow: 1;
		}

		&-nav {
			align-self: center;
			display: flex;
		}
	}

	&__link {
		color: variables.$white-90;
		line-height: 1.2;
		padding: variables.$base-size 0;

		@include mixins.typescale(scale--1, medium, text);
		@include mixins.transition(color);

		&--active,
		&:hover,
		&:focus {
			color: variables.$white;
			text-decoration: underline;
		}

		&:first-child {
			margin-right: variables.$space-xs;
		}
	}
}
