@use "../abstracts/mixins";
@use "../abstracts/variables";

.header {
	position: fixed;
	inset-block-start: 0;
	inline-size: 100%;
	z-index: 4;
	background-color: variables.$color-black;
	border-bottom: 1px solid variables.$color-black-10;

	@supports (backdrop-filter: blur(1px)) {
		@include mixins.backdrop-bg(variables.$color-black, 0.8);
	}

	&__content {
		@include mixins.layout-grid(site);

		align-items: center;
		display: flex;
		inline-size: 100%;

		&-logo {
			color: variables.$color-white;
		}

		&-logo > svg {
			display: block;
			fill: currentcolor;
			margin-block: variables.$base-size;
			inline-size: auto;
			block-size: 24px;
		}

		&-spacer {
			flex-grow: 1;
		}

		&-nav {
			display: flex;
			gap: variables.$space-xs;
		}
	}

	&__link {
		@include mixins.typescale(scale--1, medium, headline);
		@include mixins.transition(color);

		color: variables.$color-white-90;
		padding-block: variables.$base-size;

		&:hover,
		&:active,
		&--current {
			color: variables.$color-white;
			text-decoration: underline;
		}

		&:focus-visible {
			outline: 2px solid variables.$color-white;
			outline-offset: 2px;
		}
	}
}
