@use "../abstracts/mixins";
@use "../abstracts/variables";

.header {
	position: fixed;
	inset-block-start: 0;
	inline-size: 100%;
	z-index: 4;
	background-color: rgb(variables.$color-black, 0.8);
	border-bottom: 1px solid variables.$color-black-10;

	@supports (backdrop-filter: blur(1px)) {
		@include mixins.translucent-backdrop;
	}

	&__content {
		@include mixins.layout-grid(site);

		align-items: center;
		display: flex;
		inline-size: 100%;

		&-logo {
			color: variables.$color-white;
			padding-block: variables.$space-s;
		}

		&-logo > svg {
			display: block;
			fill: currentcolor;
			inline-size: auto;
			block-size: 24px;
		}

		&-spacer {
			flex-grow: 1;
		}

		&-nav {
			display: flex;
			gap: variables.$space-xs;
		}
	}

	&__link {
		@include mixins.typescale(scale-0, medium, headline);

		color: variables.$color-white-70;
		padding-block: variables.$space-s;
		transition: color 0.3s ease;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				color: variables.$color-white;
			}
		}

		&:active,
		&--current {
			color: variables.$color-white;
		}

		&:focus-visible {
			outline: 2px solid variables.$color-white;
			outline-offset: 2px;
		}
	}
}
