@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero {
	display: grid;
	height: 100%;
	position: relative;

	&__container {
		width: 100%;
	}

	&__normal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 96svh;
		padding-bottom: variables.$space-xs;
		padding-top: variables.$space-2xl;
		z-index: 2;

		&--title {
			@include mixins.typescale(scale-6, medium, title);

			color: variables.$white;
			margin: 0;
		}

		&--subtitle {
			@include mixins.font-family("iA Writer");
			@include mixins.typescale(scale-0, normal, text);

			color: variables.$white-90;
			margin-top: variables.$space-xs;
			max-width: variables.$base-size * 40;
		}
	}
}
