@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero {
	position: relative;
	overflow: hidden;

	&__content {
		@include mixins.layout-grid(site);

		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: min(88svh, 56rem);
		padding-block: variables.$space-2xl variables.$space-xs;
	}

	&__title {
		@include mixins.typescale(scale-6, medium, title);

		color: variables.$color-white;
		margin-block: 0;
	}

	&__subtitle {
		@include mixins.typescale(scale-1, normal, text);

		color: variables.$color-white-90;
		margin-block-start: variables.$space-xs;
		max-inline-size: 60ch;
		text-wrap: balance;
	}

	&__bg {
		position: absolute;
		inset: 0;
		z-index: -1;
		background:
			linear-gradient(to right, variables.$color-black-10 1px, transparent 1px),
			linear-gradient(to bottom, variables.$color-black-10 1px, transparent 1px);
		background-size: 1.5em 1.5em;
		mask-image: linear-gradient(
			180deg,
			rgba(variables.$color-black, 0%) 0%,
			rgba(variables.$color-black, 50%) 50%,
			rgba(variables.$color-white, 0%) 100%
		);
	}
}
