---
const today = new Date();
import { site_author_email, site_title, social } from "../consts";
---
<footer class="footer grid--base">
  <div class="footer__gradient"></div>
  <div class="noise"></div>
  <div class="grid--module">
      <div class="footer__container">
        <div class="footer__container--copyright">
          <p>&copy;2019 &ndash; {today.getFullYear()} {site_title}<br>Todos os direitos reservados.</p>
        </div>
        <div class="footer__container--spacer"></div>
        <ul class="footer__container--social">
					<li>
						<a href={"mailto:" + site_author_email }>Email</a>
					</li>
          {
            social.links.map((link) => (
              <li><a href={link.url}>{link.name}</a></li>
            ))
          }
        </ul>
      </div></div>
  </footer>
