---
const today = new Date();
import { site_author_email, site_title, social } from "../consts";

function encode(text: string) {
		let email = '';
		for (let i = 0; i < text.length; ++i) {
		email += '%' + text.charCodeAt(i).toString(16);
	}

	return email;
	}
---

<footer class="footer grid--base">
  <div class="footer__gradient"></div>
  <div class="noise"></div>
  <div class="footer__container grid__module--site">
    <div class="footer__content">
      <div class="footer__content--copyright">
        <p>
          &copy;2019 &ndash; {today.getFullYear()} {site_title}<br />Todos os direitos reservados.
        </p>
      </div>
      <div class="footer__content--spacer"></div>
      <ul class="footer__content--social">
        <li>
          <a href={"mailto:" + encode(site_author_email)}>Email</a>
        </li>
        {
          social.links.map((link) => (
            <li>
              <a href={link.url} rel="noopener" target="_blank">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
