---

---

<section class="hero">
	<div class="bg"></div>
	<div class="grid__module--site hero__container">
		<div class="hero__normal">
			<div class="hero__normal--text">
				<h1 class="hero__normal--title">
					Olá! &#128075;&#127998;<br />Meu nome é Adilson Santos.
				</h1>
				<p class="hero__normal--subtitle">
					Sou um designer que faz interfaces e direção de arte para
					ajudar negócios a se comunicarem com seus clientes.
				</p>
			</div>
		</div>
	</div>
</section>
