---

---

<section class="hero">
	<div class="hero__bg"></div>
	<div class="hero__content layout__grid-site">
		<h1 class="hero__title">
			Olá! &#128075;&#127998;<br />Eu sou Adilson.
		</h1>
		<p class="hero__subtitle">
			Designer que faz sites e campanhas para ajudar negócios a se
			destacarem com clareza, consistência e impacto.
		</p>
	</div>
</section>
