---

---

<section class="hero">
	<div class="bg"></div>
	<div class="grid__module--site hero__container">
		<div class="hero__normal">
			<div class="hero__normal--text">
				<h1 class="hero__normal--title">
					Olá! &#128075;&#127998;<br />Eu sou Adilson.
				</h1>
				<p class="hero__normal--subtitle">
					Designer que faz sites, campanhas e branding para ajudar negócios a se destacarem com clareza, consistência e impacto.
				</p>
			</div>
		</div>
	</div>
</section>
