---
import "@assets/css/404.scss";
import Default from "./Default.astro";
const { frontmatter } = Astro.props;
---

<Default
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}>
	<div class="noise"></div>
	<section class="hero">
		<div class="bg"></div>
		<div class="hero--container grid__module--site">
			<h1 class="hero--title">
				Desculpe, a página que você está procurando não existe.
			</h1>
			<a role="button" href="/" class="btn btn__primary">
				Voltar para a home
			</a>
		</div>
	</section>
</Default>
