---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Meta from "@components/Meta.astro";
import { site_lang } from "../consts";
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang={site_lang}>
	<head>
		<meta charset="UTF-8" />
		<!--
		<link
			rel="preload"
			as="font"
			href="/assets/fonts/iAWriterDuoS-Regular.woff2"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			as="font"
			href="/assets/fonts/InterVariable.woff2"
			type="font/woff2"
			crossorigin
/>
-->
		<link
			rel="preload"
			as="image"
			href="/assets/images/noise.webp"
			type="image/webp"
		/>
		<style is:global>
			.noise {
				background-image: url("/assets/images/noise.webp");
				pointer-events: none;
				position: absolute;
				inset: 0;
			}
		</style>
		<Meta title={title} description={description} image={image} />
	</head>
	<body>
		<a class="skip-to-content-link" href="#main">Pular para o conteúdo</a>

		<Header />
		{
			/* Bypass Facebook tracking:
			https://krausefx.com/blog/ios-privacy-instagram-and-facebook-can-track-anything-you-do-on-any-website-in-their-in-app-browser#how-to-protect-yourself-as-a-user */
		}
		<span id="iab-pcm-sdk"></span>
		<span id="iab-autofill-sdk"></span>
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
