---
import "@assets/css/abstracts/_mixins.scss";
import "@assets/css/abstracts/_variables.scss";
import "@assets/css/base/_base.scss";
import "@assets/css/base/_typography.scss";
import "@assets/css/components/_links.scss";
import "@assets/css/layout/_contact.scss";
import "@assets/css/layout/_footer.scss";
import "@assets/css/layout/_grid.scss";
import "@assets/css/layout/_header.scss";
import "@assets/css/pages/_page.scss";

import Contact from "@components/Contact.astro";
import { site_description, site_name } from "../consts";
import Default from "./Default.astro";

const { frontmatter } = Astro.props;
const title = [frontmatter.title, site_name].filter(Boolean).join(" | ");
---

<Default title={title} description={site_description} image={frontmatter.image}>
	<div class="noise"></div>
	<article class="page grid__module--blog" role="article">
		<div class="page__header">
			<div class="page__header--container">
				<h1 class="page__header--title" itemprop="name headline">
					{frontmatter.title}
				</h1>
			</div>
		</div>
		<div class="page__content" itemprop="articleBody">
			<div class="page__content--container">
				<slot />
			</div>
		</div>
		<hr />
	</article>
	<Contact />
</Default>
