---
import Contact from "@components/Contact.astro";
import { site_description, site_image, site_name } from "../consts";
import Default from "./Default.astro";
import "@assets/css/page.scss";

const { frontmatter } = Astro.props;
const title = [frontmatter.title, site_name].filter(Boolean).join(" | ");
---

<Default title={title} description={site_description} image={site_image}>
	<div class="noise"></div>
	<article class="page grid__module--blog" role="article">
		<div class="page__header">
			<div class="page__header--container">
				<h1 class="page__header--title" itemprop="name headline">
					{frontmatter.title}
				</h1>
			</div>
		</div>
		<div class="page__content" itemprop="articleBody">
			<div class="page__content--container">
				<slot />
			</div>
		</div>
		<hr />
	</article>
	<Contact />
</Default>
