---
import "@assets/css/base/_reset.scss";
import "@assets/css/abstracts/_mixins.scss";
import "@assets/css/abstracts/_variables.scss";
import "@assets/css/base/_base.scss";
import "@assets/css/base/_typography.scss";
import "@assets/css/components/_btn.scss";
import "@assets/css/layout/_contact.scss";
import "@assets/css/layout/_footer.scss";
import "@assets/css/layout/_header.scss";
import "@assets/css/pages/_page.scss";

import Contact from "@components/Contact.astro";
import { site_description, site_name } from "../consts";
import Default from "./Default.astro";

const { frontmatter } = Astro.props;
const title = [frontmatter.title, site_name].filter(Boolean).join(" | ");
---

<Default title={title} description={site_description} image={frontmatter.image}>
	<div class="noise"></div>
	<article class="page" role="article">
		<div class="page__header">
			<h1 class="page__title" itemprop="name headline">
				{frontmatter.title}
			</h1>
		</div>
		<div class="page__content" itemprop="articleBody">
			<slot />
		</div>
		<hr />
	</article>
	<Contact />
</Default>
