@use "sass:list";
@use "sass:map";
@use "variables";

@mixin viewport($size, $orientation: portrait, $key: width) {
	@if not list.index(map.keys(variables.$grid-breakpoints-map), $size) {
		@warn "Atenção: `#{$size}` não é um breakpoint válido.";
	}
	$min-width: map.get(variables.$grid-breakpoints-map, $size, $key);

	@if $orientation == landscape {
		@media (min-width: $min-width) and (orientation: landscape) {
			@content;
		}
	} @else {
		@media (min-width: $min-width) {
			@content;
		}
	}
}

// ANIMATION
@mixin transition(
	$property: all,
	$duration: variables.$duration-standard,
	$timing: variables.$animation-standard,
	$delay: 0ms
) {
	transition: $property $duration $timing $delay;
}

@mixin animation(
	$name,
	$duration: variables.$duration-standard,
	$speed: variables.$animation-standard,
	$iteration-count: 1,
	$delay: 0ms
) {
	animation: $name $duration $speed $iteration-count $delay;
}

// FONT
@mixin typescale($size, $weight: normal, $line: text) {
	font-size: map.get(variables.$type-map, $size, size);

	@if $weight == bold {
		font-weight: 600;
	} @else if $weight == medium {
		font-weight: 500;
	} @else if $weight == normal {
		font-weight: 400;
	} @else if $weight == light {
		font-weight: 300;
	} @else {
		@warn "Atenção: `#{$weight}` não é suportado.";
	}

	@if $line == title {
		line-height: 1.1;
	} @else if $line == headline {
		line-height: 1.2;
	} @else if $line == text {
		line-height: 1.6;
	} @else {
		@warn "Atenção: `#{$line}` não é suportado.";
	}
}

@mixin font-position($position) {
	@if $position == center or $position == right or $position == left {
		text-align: $position;
	} @else {
		@warn "Atenção: Posição `#{$position}` inválida.";
	}
}

@mixin layout-grid($type) {
	@if $type == site {
		max-inline-size: variables.$grid-width-site;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	} @else if $type == blog {
		max-inline-size: variables.$grid-width-post;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	} @else {
		@warn "Atenção: Layout `#{$type}` não é um valor válido.";
	}
}
