@use "sass:list";
@use "sass:map";
@use "variables";

// Media queries
@mixin viewport($size, $orientation: portrait, $key: width) {
	$breakpoints: variables.$grid-breakpoints;

	@if not list.index(map.keys($breakpoints), $size) {
		@warn "Atenção: `#{$size}` não é um breakpoint válido.";
	}

	$min-width: map.get($breakpoints, $size, $key);

	@if $orientation == landscape {
		@media (min-width: $min-width) and (orientation: landscape) {
			@content;
		}
	} @else {
		@media (min-width: $min-width) {
			@content;
		}
	}
}

// ANIMATION
@mixin transition(
	$property: all,
	$duration: variables.$duration-standard,
	$timing: variables.$animation-standard,
	$delay: 0ms
) {
	transition: $property $duration $timing $delay;
}

@mixin animation(
	$name,
	$duration: variables.$duration-standard,
	$speed: variables.$animation-standard,
	$iteration-count: 1,
	$delay: 0ms
) {
	animation: $name $duration $speed $iteration-count $delay;
}

// Typography
@mixin typescale($size, $weight: normal, $line: text) {
	font-size: map.get(variables.$type-map, $size, size);

	@if $weight == bold {
		font-weight: 600;
	} @else if $weight == medium {
		font-weight: 500;
	} @else if $weight == normal {
		font-weight: 400;
	} @else if $weight == light {
		font-weight: 300;
	} @else {
		@warn "Atenção: `#{$weight}` não é suportado.";
	}

	@if $line == title {
		line-height: 1.1;
	} @else if $line == headline {
		line-height: 1.2;
	} @else if $line == text {
		line-height: 1.6;
	} @else {
		@warn "Atenção: `#{$line}` não é suportado.";
	}
}

// Text alignment
@mixin font-position($position) {
	@if $position == center or $position == right or $position == left {
		text-align: $position;
	} @else {
		@warn "Atenção: Posição `#{$position}` inválida.";
	}
}

// Layout wrappers
@mixin layout-grid($type) {
	@if $type == site {
		max-inline-size: variables.$grid-width-site;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	} @else if $type == blog {
		max-inline-size: variables.$grid-width-post;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	} @else {
		@warn "Atenção: Layout `#{$type}` não é um valor válido.";
	}
}

// abstracts/_grid.scss ou layout/_grid.scss
@mixin content-grid {
	display: grid;
	grid-template-columns:
		[full-width] minmax(variables.$grid-gutter, 1fr)
		[popout-start] minmax(0, variables.$space-xl)
		[content-start] minmax(0, 72ch)
		[content-end] minmax(0, variables.$space-xl)
		[popout-end] minmax(variables.$grid-gutter, 1fr)
		[full-width-end];

	> * {
		grid-column: content-start / content-end;
	}

	> .full-width {
		grid-column: full-width / full-width-end;
	}

	> .popout {
		grid-column: popout-start / popout-end;
	}
}

// Flow (vertical rhythm)
@mixin flow($space: variables.$space-s) {
	> * + * {
		margin-block-start: var(--flow-space, #{$space});
	}
}

// Base for all buttons
@mixin btn-base {
	@include typescale(scale-0, medium, headline);
	@include font-position(center);
	@include transition(background-color);
	@include transition(border-color);

	min-inline-size: clamp(120px, 20%, 200px);
	padding-block: variables.$space-xs;
	padding-inline: variables.$space-m;
	inline-size: max-content;
}

// Mixin para backdrop-filter
@mixin backdrop-bg($color, $alpha) {
	background-color: rgba($color, $alpha);
	backdrop-filter: saturate(180%) blur(variables.$base-size * 0.25);
}

// Button states
@mixin btn-state($text-color, $bg-color, $border-color: null) {
	&:hover,
	&:active {
		color: $text-color;
		background-color: $bg-color;

		@if $border-color {
			border-color: $border-color;
		}
	}
}

@mixin btn-a11y($color) {
	&:focus-visible {
		outline: 2px solid $color;
		outline-offset: 2px;
	}

	// Clicable buttons
	min-block-size: 48px;
	min-inline-size: 48px;
}
