@use "sass:list";
@use "sass:map";
@use "variables";

// Media queries
@mixin viewport($size, $orientation: portrait, $key: width) {
	$breakpoints: variables.$grid-breakpoints;

	@if not list.index(map.keys($breakpoints), $size) {
		@warn "Atenção: `#{$size}` não é um breakpoint válido.";
	}

	$min-width: map.get($breakpoints, $size, $key);

	@if $orientation == landscape {
		@media (min-width: $min-width) and (orientation: landscape) {
			@content;
		}
	} @else {
		@media (min-width: $min-width) {
			@content;
		}
	}
}

// Typography
@mixin typescale($size, $weight: normal, $line: text) {
	font-size: map.get(variables.$type-map, $size, size);
	letter-spacing: map.get(variables.$type-map, $size, tracking);
	text-box: trim-both cap alphabetic;

	@if $weight == bold {
		font-weight: 600;
	} @else if $weight == medium {
		font-weight: 500;
	} @else if $weight == normal {
		font-weight: 400;
	} @else if $weight == light {
		font-weight: 300;
	} @else {
		@warn "Atenção: `#{$weight}` não é suportado.";
	}

	@if $line == title {
		line-height: 1.1;
	} @else if $line == headline {
		line-height: 1.2;
	} @else if $line == text {
		line-height: 1.6;
	} @else {
		@warn "Atenção: `#{$line}` não é suportado.";
	}
}

// Layout wrappers
@mixin layout-grid($type) {
	@if $type == site {
		max-inline-size: variables.$grid-width-site;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	} @else if $type == blog {
		max-inline-size: variables.$grid-width-post;
		padding-inline: variables.$grid-gutter;
		margin-inline: auto;
	} @else {
		@warn "Atenção: Layout `#{$type}` não é um valor válido.";
	}
}

// abstracts/_grid.scss ou layout/_grid.scss
@mixin content-grid {
	display: grid;
	grid-template-columns:
		[full-width] minmax(variables.$grid-gutter, 1fr)
		[popout-start] minmax(0, variables.$space-xl)
		[content-start] minmax(0, variables.$grid-width-post)
		[content-end] minmax(0, variables.$space-xl)
		[popout-end] minmax(variables.$grid-gutter, 1fr)
		[full-width-end];

	> * {
		grid-column: full-width / full-width-end;

		@include viewport(large) {
			grid-column: content-start / content-end;
		}
	}

	> .full-width {
		grid-column: full-width / full-width-end;
	}

	> .popout {
		@include viewport(large) {
			grid-column: popout-start / popout-end;
		}
	}
}

// Flow (vertical rhythm)
@mixin flow($space: variables.$space-s) {
	> * + * {
		margin-block-start: var(--flow-space, #{$space});
	}
}

// Mixin para backdrop-filter
@mixin translucent-backdrop() {
	backdrop-filter: saturate(180%) blur(variables.$base-size * 0.25);
}

@mixin focus-visible($color) {
	&:focus-visible {
		outline-color: $color;
		@content;
	}
}
