// Brand Colors
$black: #0f0f0f;
$primary: #fd3a39;
$secondary: #f4c947;
$white: #eee;

// Variation Colors
$black-10: #222;
$black-20: #3a3a3a;
$black-30: #5a5a5a;
$white-70: #aeaeae;
$white-90: #cecece;
$primary-20: #6f0e10;
$primary-40: #d40d1c;
$secondary-90: #fddb7d;

// Sizes
$base-size: 1em;
$page-width: $base-size * 80;

// Breakpoints
$grid-breakpoints-map: (
	default: (width: 0,
		column: 4,
		margin: $base-size,
		gap: 16px,
	),
	xsmall: (width: 319px,
		column: 4,
		margin: $base-size,
		gap: 16px,
	),
	small: (width: 479px,
		column: 4,
		margin: $base-size * 1.5,
		gap: 24px,
	),
	medium: (width: 639px,
		column: 6,
		margin: $base-size * 2.5,
		gap: 24px,
	),
	large: (width: 767px,
		column: 6,
		margin: $base-size * 3,
		gap: 32px,
	),
	xlarge: (width: 995px,
		column: 6,
		margin: $base-size * 4,
		gap: 32px,
	),
	2xlarge: (width: 1199px,
		column: 8,
		margin: $base-size * 6,
		gap: 40px,
	),
	3xlarge: (width: 1280px,
		column: 8,
		margin: $base-size * 4,
		gap: 48px,
	),
);

// Animation
$animation-standard: cubic-bezier(0.22, 1, 0.36, 1) !default;
$duration-standard: 0.3s;

// Font Size
// https://utopia.fyi/space/calculator?c=232,16,1.125,1240,20,1.125,6,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C5,s-l&g=s,l,xl,12
// https://utopia.fyi/grid/calculator?c=232,16,1.125,1240,20,1.25,6,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,&g=s,l,xl,12
$font-size: $base-size;
$type-map: (
	scale-6: (size: clamp(2.0273rem, 1.3964rem + 4.3509vw, 4.7684rem),
	),
	scale-5: (size: clamp(1.802rem, 1.3388rem + 3.1947vw, 3.8147rem),
	),
	scale-4: (size: clamp(1.6018rem, 1.2681rem + 2.3015vw, 3.0518rem),
	),
	scale-3: (size: clamp(1.4238rem, 1.1896rem + 1.6152vw, 2.4414rem),
	),
	scale-2: (size: clamp(1.2656rem, 1.1074rem + 1.0913vw, 1.9531rem),
	),
	scale-1: (size: clamp(1.125rem, 1.0243rem + 0.6944vw, 1.5625rem),
	),
	scale-0: (size: clamp(1rem, 0.9425rem + 0.3968vw, 1.25rem),
	),
	scale--1: (size: clamp(0.8889rem, 0.8633rem + 0.1764vw, 1rem),
	),
	scale--2: (size: clamp(0.7901rem, 0.7879rem + 0.0157vw, 0.8rem),
	),
);
$space-3xs: clamp(0.25rem, 0.2356rem + 0.0992vw, 0.3125rem);
$space-2xs: clamp(0.5rem, 0.4712rem + 0.1984vw, 0.625rem);
$space-xs: clamp(0.75rem, 0.7068rem + 0.2976vw, 0.9375rem);
$space-s: clamp(1rem, 0.9425rem + 0.3968vw, 1.25rem);
$space-m: clamp(1.5rem, 1.4137rem + 0.5952vw, 1.875rem);
$space-l: clamp(2rem, 1.8849rem + 0.7937vw, 2.5rem);
$space-xl: clamp(3rem, 2.8274rem + 1.1905vw, 3.75rem);
$space-2xl: clamp(4rem, 3.7698rem + 1.5873vw, 5rem);
$space-3xl: clamp(6rem, 5.6548rem + 2.381vw, 7.5rem);

// /* One-up pairs */
// $space-3xs-2xs: clamp(0.25rem, calc(0.19rem + 0.40vw), 0.50rem);
// $space-2xs-xs: clamp(0.50rem, calc(0.44rem + 0.40vw), 0.75rem);
// $space-xs-s: clamp(0.75rem, calc(0.69rem + 0.40vw), 1.00rem);
// $space-s-m: clamp(1.00rem, calc(0.88rem + 0.80vw), 1.50rem);
// $space-m-l: clamp(1.50rem, calc(1.38rem + 0.80vw), 2.00rem);
// $space-l-xl: clamp(2.00rem, calc(1.76rem + 1.60vw), 3.00rem);
// $space-xl-2xl: clamp(3.00rem, calc(2.76rem + 1.60vw), 4.00rem);
// $space-2xl-3xl: clamp(4.00rem, calc(3.52rem + 3.20vw), 6.00rem);

// /* Custom pairs */
// $space-s-l: clamp(1.00rem, calc(0.66rem + 2.28vw), 2.25rem);

// Grid sizes
$grid-width-site: $base-size * 77.5;
$grid-width-post: $base-size * 45;
$grid-gutter: clamp(1rem, 0.6548rem + 2.381vw, 2.5rem);
