// Brand Colors
$black: #0f0f0f;
$primary: #fd3a39;
$secondary: #f4c947;
$white: #eee;

// Variation Colors
$black-10: #222;
$black-20: #3a3a3a;
$black-30: #5a5a5a;
$white-70: #aeaeae;
$white-90: #cecece;
$primary-20: #6f0e10;
$primary-40: #d40d1c;
$secondary-90: #fddb7d;

// Sizes
$base-size: 1em;
$page-width: $base-size * 80;

// Breakpoints
$grid-breakpoints-map: (
	default: (
		width: 0,
	),
	xsmall: (
		width: 319px,
	),
	small: (
		width: 479px,
	),
	medium: (
		width: 639px,
	),
	large: (
		width: 767px,
	),
	xlarge: (
		width: 995px,
	),
	xxlarge: (
		width: 1199px,
	),
	xxxlarge: (
		width: 1280px,
	),
);

// Animation
$animation-standard: cubic-bezier(0.22, 1, 0.36, 1) !default;
$duration-standard: 0.3s;

// Font Size
// https://utopia.fyi/grid/calculator/?c=232,16,1.125,1240,20,1.2,6,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12

$font-size: $base-size;
$type-map: (
	scale-6: (
		size: clamp(2.0273rem, 1.6348rem + 2.7067vw, 3.7325rem),
	),
	scale-5: (
		size: clamp(1.802rem, 1.5009rem + 2.0768vw, 3.1104rem),
	),
	scale-4: (
		size: clamp(1.6018rem, 1.3739rem + 1.5717vw, 2.592rem),
	),
	scale-3: (
		size: clamp(1.4238rem, 1.1896rem + 1.6152vw, 2.4414rem),
	),
	scale-2: (
		size: clamp(1.2656rem, 1.1426rem + 0.8482vw, 1.8rem),
	),
	scale-1: (
		size: clamp(1.125rem, 1.0387rem + 0.5952vw, 1.5rem),
	),
	scale-0: (
		size: clamp(1rem, 0.9425rem + 0.3968vw, 1.25rem),
	),
	scale--1: (
		size: clamp(0.8889rem, 0.8537rem + 0.2425vw, 1.0417rem),
	),
	scale--2: (
		size: clamp(0.7901rem, 0.7722rem + 0.1237vw, 0.8681rem),
	),
);
$space-3xs: clamp(0.25rem, 0.2356rem + 0.0992vw, 0.3125rem);
$space-2xs: clamp(0.5rem, 0.4712rem + 0.1984vw, 0.625rem);
$space-xs: clamp(0.75rem, 0.7068rem + 0.2976vw, 0.9375rem);
$space-s: clamp(1rem, 0.9425rem + 0.3968vw, 1.25rem);
$space-m: clamp(1.5rem, 1.4137rem + 0.5952vw, 1.875rem);
$space-l: clamp(2rem, 1.8849rem + 0.7937vw, 2.5rem);
$space-xl: clamp(3rem, 2.8274rem + 1.1905vw, 3.75rem);
$space-2xl: clamp(4rem, 3.7698rem + 1.5873vw, 5rem);
$space-3xl: clamp(6rem, 5.6548rem + 2.381vw, 7.5rem);

// Grid sizes
$grid-width-site: 77.5rem;
$grid-width-post: 72ch;
$grid-gutter: clamp(1rem, 0.6548rem + 2.381vw, 2.5rem);
