name: CI

on:
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GH_actions_PAT }}
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Type check
        run: npm run typecheck

      - name: ESLint
        run: npm run eslint

      - name: Stylelint
        run: npm run stylelint

      - name: Prettier check
        run: npm run format

      - name: Build Astro
        run: npm run build

      - name: Validate CSP hashes
        run: npm run csp:hash && git diff --exit-code
